.InformationCard {
  display: flex;  
  flex-direction: column; 
  width: 40%;
  overflow: hidden;   
  max-height: 350px;
  padding: 20px;
  margin: 10px;
  background: lightblue;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color=#636363)";/*IE 8*/
  -moz-box-shadow: 0 -2px 7px 1px rgba(99,99,99,0.7);/*FF 3.5+*/
  -webkit-box-shadow: 0 -2px 7px 1px rgba(99,99,99,0.7);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 -2px 7px 1px rgba(99,99,99,0.7);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#636363); /*IE 5.5-7*/
}

/* .InformationCard-active {
  position: absolute;
  width: 100%;
  height: 400px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 50;
  background: white;
  border: 1px solid black;
  transition: ease-out 1s;
  
} */

.InformationCard__heading {
  position: relative;
  font-size: 26px;
  margin-bottom: 60px;
}

.InformationCard__heading p {
  margin-top: 0px;  
}

.InformationCard__slider {
  position: relative;
  z-index: 100;
  height: 200px;
   transition: ease-out .4s;  
}

.InformationCard__slider-active {
  position: relative;  
  transform: translateY(-85px);
  transition: ease-in .4s;
}

.InformationCard__text {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
}

.InformationCard__list {
  font-size: 18px;
  line-height: 1.5;
}

.InformationCard__list ul {
  margin: 0px;
  padding-left: 20px;
}

.InformationCard__popup {
  position: relative; 
  width: 100%;
  height: 40px;
  text-align: center;
  background: #bada55;
}

.InformationCard__popup p {
   padding-top: 10px; 
}

