.Jumbotron {  
  background: #777;
  color: #fff;
  padding-top: 10px;  
  padding-bottom: 300px;
  margin-bottom: 200px;
}

.Jumbotron__detail__small {
  font-size: 20px;
  margin: 20px;
}

.Jumbotron__detail__medium {
  font-size: 30px;
  margin: 20px;
}

.Jumbotron__detail__large {
  font-size: 78px;  
  margin: 20px;
}
